<section class="wrapper style5">
	<div class="inner">
		<p>Error occurred:</p>
		<pre><code>
<%= error_message %>
		</code></pre>
		<%= link_to "Back to Home Page", root_url, :class => 'more scrolly' %>
	</div>
</section>