<section class="wrapper style5">
	<div class="inner">
		<% unless @invalid_ids.empty? %>
			<%= show_error_message("The following school ids do not exist:\n" + @invalid_ids.join("\n")) %>
		<% else %>
			<div id="graph"></div>
		<% end %>
	</div>
</section>

<script>
var data_map = {};
<% @all_data.each do |key,value| %>
	var school_name = '<%= raw key %>';
	data_map[school_name] = [];
	<% value.each do |data| %>
		data_map[school_name].push([
			<%= raw data.academic_year_end %>,
			<%= data.total %>
		]);
	<% end %>
<% end %>
draw_grouped_bar_chart(data_map, "#graph", "Enrollment data by gender");
</script>



